autom4te.cache
src/.libs
src/obj
src/*/*.o
src/*/*.lo
src/*/.deps
src/*/*/*.o
src/*/*/*.lo
src/*/*/.deps
src/secp256k1/.libs
src/secp256k1/src/.deps
src/secp256k1/src/*.o
src/secp256k1/src/*.lo
src/secp256k1/autom4te.cache
*.log
config.log
config.status
libtool
